/* w ./about-us/index.html */
.aboutus {
  @media screen and (min-width: 1024px) {
    margin: 6rem auto;
  }

  &__presentation {
    margin: 1rem auto;

    @media screen and (min-width: 1024px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: max-content;
      gap: 2rem;
      margin: 4rem auto;
    }

    &__header {
      background-color: $white;
      padding: 0.25rem;

      strong {
        color: $graphite;
      }
    }

    & > .img-placeholder {
      width: 100%;
      height: auto;

      & img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }
  }
}

.fill {
  grid-row: max-content;
  grid-column: 1/-1;
}
