/* w ./about-us/index.html */
.aboutus {
  &__presentation {
    margin: 1rem auto;

    &__header {
      background-color: $white;

      strong {
        color: $graphite;
      }
    }

    & > .img-placeholder {
      width: 100%;
      height: auto;

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__description {
      margin: 2rem auto;
      font-weight: 300;
      font-size: 110%;
    }
  }
}
