/* w ./index.html */

.aboutDDP {
  &__presentation {
    margin: 1rem auto;

    @media screen and (min-width: 1024px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: max-content;
      gap: 2rem;
    }

    &__header {
      background-color: $white;
      padding: 0.25rem;

      strong {
        color: $graphite;
      }
    }

    & > .img-placeholder {
      width: 100%;
      height: auto;

      & img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }

    &__description {
      margin: 2rem auto;
      font-weight: 300;
      font-size: 110%;
    }
  }
}
