.contact {
  width: 100%;
  height: auto;

  .contact__header {
    margin: 0 auto;
    text-align: center;
    padding: 1.25rem;
  }

  .contact__infos {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;

    .contact__square {
      display: flex;
      align-content: center;
      justify-content: flex-start;
      flex-direction: column;
      width: 100%;
      margin: 1.25rem 0;

      @media screen and (min-width: 1024px) {
        width: 30%;
      }

      .contact__icon {
        padding: 0 0 0.4rem 0;
        font-size: 150%;
        color: $brass;
      }

      .contact__paragraph {
        text-transform: uppercase;
        font-weight: 600;
        font-style: italic;
        padding: 3px;
        color: $brass;

        &.name {
          text-transform: none;
          color: $white;
          font-weight: bold;
          margin-top: 0;

          @media screen and (min-width: 1024px) {
            &:not(&:nth-of-type(2)) {
              margin-top: 1rem;
            }
          }
        }
      }

      .contact__info {
        padding: 0.25rem;
        font-style: italic;

        @media screen and (min-width: 1024px) {
          padding: 0;
        }
      }
    }
  }

  .contact__socials {
    width: 100%;
    margin: 1rem auto;

    .contact__list {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      list-style-type: none;
      padding: 0.3rem;

      .contact__social {
        padding: 0 0.75rem;
        font-size: 1.75rem;

        a {
          svg path {
            transition: 0.3s;
          }

          @media screen and (min-width: 1024px) {
            margin-left: 0.5rem;
            margin-right: 0.5rem;

            &:hover svg path {
              fill: $brass;
              stroke: $brass;
              color: $brass;
            }
          }
        }
      }
    }
  }

  .contact__map {
    width: 90%;
    margin: 2rem auto;
    height: auto;
    aspect-ratio: 2/3;
    background-color: #fff;

    @media screen and (min-width: 1024px) {
      aspect-ratio: 16/9;
    }
  }
}
