.contact
    width:100%
    height: auto
    .contact__header
        margin: 0 auto
        text-align: center
        padding: 1.25rem
    .contact__infos
        display: flex
        justify-content: center
        text-align: center
        flex-wrap: wrap
        .contact__square
            display: flex
            align-content: center
            justify-content: center
            flex-direction: column
            width: 45%
            margin: 1.25rem  0
            font-size: 0.8rem
            &:nth-of-type(1)
                border-right: 2px solid #b59410
            .contact__icon
                font-size: 1.5rem
                padding:  0 0 0.4rem 0
                color: #b59410
              
            .contact__paragraph
                text-transform: uppercase
                font-weight: 600
                font-size: 0.75rem
                padding: 3px
                color: #b59410
            .contact__info
                color: #000
                padding: .25rem
    .contact__socials
        width: 100%
        margin: 1rem auto
        .contact__list
            display: flex
            justify-content: center
            align-items: center
            flex-direction: row
            list-style-type: none 
            padding: 0.3rem
            .contact__social
                color: #000
                padding: 0 0.75rem
                font-size: 1.6rem
                .contact__icon
                    color: #000
    .contact__map
        width: 90%
        margin: 2rem auto
        height: 10rem
        background-color: #fff