.contact {
  width: 100%;
  height: auto;

  .contact__header {
    margin: 0 auto;
    text-align: center;
    padding: 1.25rem;
  }

  .contact__infos {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;

    .contact__square {
      display: flex;
      align-content: center;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      margin: 1.25rem 0;

      .contact__icon {
        padding: 0 0 0.4rem 0;
        font-size: 150%;
        color: #b59410;
      }

      .contact__paragraph {
        text-transform: uppercase;
        font-weight: 600;

        padding: 3px;
        color: #b59410;

        &.name {
          text-transform: none;
          color: $white;
          font-weight: bold;
          margin-top: 1rem;
        }
      }

      .contact__info {
        padding: 0.25rem;
        font-style: italic;
      }
    }
  }

  .contact__socials {
    width: 100%;
    margin: 1rem auto;

    .contact__list {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      list-style-type: none;
      padding: 0.3rem;

      .contact__social {
        padding: 0 0.75rem;
        font-size: 1.75rem;
      }
    }
  }

  .contact__map {
    width: 90%;
    margin: 2rem auto;
    height: auto;
    aspect-ratio: 2/3;
    background-color: #fff;
  }
}
