/* zostawione jakby co */
/* $white: #fafaffff;
$pearl: #e4d9ffff;
$graphite: #30343fff;
$deepblue: #273469ff;
$deepnavy: #1e2749ff; */

$graphite: #30343fff;
$deepblue: #273469ff;
$lightblue: #b8ccdc;
$white: #fbfbfb;

$font-cytat: "Dancing Script", cursive;
$font-roboto: "Roboto Condensed", sans-serif;
$font-titillium: "Titillium Web", sans-serif;
$font-bebas: "Bebas Neue", sans-serif;

$nav-color: #2d2e38;
$font-bgc: #616161;
$font-color: #c5c6c7;
$family-raleway: "Raleway", sans-serif;

/* zdefiniowane - nieuzywane - zakomentowane */
// $bgc-color: #0b0c10
// $tone-color: #45a29e
// $family-rubik: 'Rubik','Poppins', sans-serif
// $font-xsmall: 0.625rem
// $font-small: 0.75rem
// $font-medium: 1rem
// $font-xmedium: 1.25rem
// $font-big: 1.5rem
// $font-large: 2rem

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  text-decoration: none;
  color: $white;
  font-family: $font-roboto;
  line-height: 170%;
}

body {
  background-color: rgba($lightblue, 1);
  min-height: 100vh;
  overflow-x: hidden;
  width: 100%;
}

#mainContainer {
  width: 90%;
  margin: 0 auto;
  min-height: 100vh;
  height: auto;
}

.text-center {
  text-align: center;
}

section,
header {
  margin: 1rem 0;
}

blockquote p {
  font-size: 110%;
  font-family: $font-bebas;

  &:last-child {
    text-align: right;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: $font-titillium;
  font-weight: 400;
  text-align: center;
  margin: 0;
}

strong,
span {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}
